.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.1rem 3rem;
  background: var(--dark);
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: var(--shadow-md);
}

.logo {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 100;
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 12px;
  color: var(--primary);
  text-decoration: none;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav-links a {
  color: #ccc;
  text-decoration: none;
  font-size: 1.1rem;
  transition: color var(--transition);
	display: flex;
	align-items: center;
}

.nav-links a:hover {
  color: var(--primary);
}

.cart-btn {
  position: relative;
}

.badge {
  position: absolute;
  top: -8px;
  right: -12px;
  background: var(--primary);
  color: var(--dark);
  font-size: 0.75rem;
  font-weight: 700;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logout-btn {
  cursor: pointer;
  color: #ccc;
  font-size: 1.1rem;
  transition: color var(--transition);
}

.logout-btn:hover { color: #e74c3c; }